<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-start">
  <div class="row mx-0 w-100">
    <div class="col-12 logo-row d-flex align-items-center">
      <img alt="comunal-logo" height="40" src="./assets/images/logo.png" width="40">
    </div>
    <div class="col-12 user-row d-flex align-items-center">
      <img class="rounded-circle" alt="profile-pic" height="46" src="./assets/images/profile.jpg" width="46">
      <span class="fz-22 font-weight-bold ml-4">Hola,Usuario</span>
    </div>
  </div>
</nav>
